body, html{
    margin:0;
    height:100%;
    font-family:"Serif";
    font-size:16px;
    line-height:1.4em;
    font-weight:400;
    color:#666;
}

.p1img, .p2img, .p3img, .p4img, .p5img, .p6img,
.p7img, .p8img, .p9img, .p10img{
    position:relative;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    /*opacity:0.80;*/
}

.p1img{
    background-image: url("./images/1.jpg");
    min-height:100%;
}

.p2img{
    background-image: url("./images/2.jpg");
    min-height:800px;
}

.p3img{
    background-image: url("./images/3.jpg");
    min-height:800px;
}

.p4img{
    background-image: url("./images/4.jpg");
    min-height:800px;
}

.p5img{
    background-image: url("./images/5.jpg");
    min-height:800px;
}

.p6img{
    background-image: url("./images/6.jpg");
    min-height:800px;
}

.p7img{
    background-image: url("./images/7.jpg");
    min-height:800px;
}

.p8img{
    background-image: url("./images/8.jpg");
    min-height:800px;
}

.p9img{
    background-image: url("./images/9.jpg");
    min-height:800px;
}

.p10img{
    background-image: url("./images/10.jpg");
    min-height:800px;
}

.p-text{
    text-align:center;
    text-transform:uppercase;
    position:absolute;
    top:50%;
    width:100%;
    color:whitesmoke;
    letter-spacing:8px;
    font-size:24px;
}

.p-text .border{
    background:#333;
    padding:20px;
}

.section{
    text-align:center;
    padding:40px 60px;
}

.section-dark{
    background:#333;
    color:whitesmoke;
}

.section-white{
    background:#f4f4f4;
    color:#333;
}

footer{
    background:#333;
    text-align:center;
    color:#f4f4f4;
    padding:20px;
}

.p-text .border.trans{
    background-color:transparent;
}

/* MobileS */
@media(max-width: 320px){
    .p-text{
        font-size: 12px;
    }

    .section{
        text-align: left;
        padding:40px 20px;
    }

    .p1img, .p2img, .p3img, .p4img, .p5img, .p6img,
    .p7img, .p8img, .p9img, .p10img{
        background-attachment: scroll;
    }
}

/* MobileM */
@media screen and (device-width: 375px) and (device-height: 491px){
    .p-text{
        font-size: 12px;
    }

    .section{
        text-align: left;
        padding:40px 20px;
    }

    .p1img, .p2img, .p3img, .p4img, .p5img, .p6img,
    .p7img, .p8img, .p9img, .p10img{
        background-attachment: scroll;
    }
}

/* Tablet */
@media(max-width:768px) and (min-width: 425px){
    /* .p1img, .p2img, .p3img, .p4img, .p5img, .p6img,
    .p7img, .p8img, .p9img, .p10img{
        background-attachment: scroll;
    }  */
}

/* 4K */
@media(min-width: 1600px){
    body{
        font-size: 2.4rem;
    }

    .p-text{
        font-size: 4.6rem;
    }
}

/* MOTO G */
@media screen and (device-width: 360px) and (device-height: 640px){
    .p-text{
        font-size: 14px;
    }

    .section{
        text-align: left;
        padding:40px 20px;
    }
}

/* Iphone 6,7,8*/
@media screen and (device-width: 375px) and (device-height: 667px){
    .p-text{
        font-size: 14px;
    }

    .section{
        text-align: left;
        padding:40px 20px;
    }
}

@media screen and (device-width: 414px) and (device-height: 736px){
    .p-text{
        font-size: 14px;
    }

    .section{
        text-align: left;
        padding:40px 20px;
    }
}

@media screen and (device-width: 375px) and (device-height: 812px){
    .p-text{
        font-size: 14px;
    }

    .section{
        text-align: left;
        padding:40px 20px;
    }
}

/* Ipad */
@media screen and (device-width: 768px) and (device-height: 1024px){
    body{
        font-size: 1.6rem;
    }

    .p-text{
        font-size: 2.2rem;
    }
}

/* Ipad Pro */
@media screen and (device-width: 1024px) and (device-height: 1366px){
    body{
        font-size: 2rem;
    }

    .p-text{
        font-size: 3rem;
    }
}

/* Galaxy Fold */

@media screen and (device-width: 280px) and (device-height: 653px){
    .p-text{
        font-size: 10px;
    }

    .section{
        text-align: left;
        padding:40px 20px;
    }

    body{
        font-size: 0.8rem;
    }
}